@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>This web site does not use cookies or detailed logs beyond your IP address and page requests. We promise not to do anything with that information.</p>
